In [ ]:
################# PANDAS DATA FILTERING #################

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
#sns.get_dataset_names()
df = sns.load_dataset('iris')

In [8]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#-----
#- iloc & loc 
#-----

In [ ]:
"""
.loc attribute access a group of rows and columns by label(s) or a boolean array in the given DataFrame.

"""

In [11]:
###use to filter based on a specific column and row value 

#only setosa df
setosa = df.loc[df['species'] == 'setosa']
setosa.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa