In [73]:
import numpy as np 
import pandas as pd

### Some Basics First

In [59]:
#Adding to a Dictionary Using the = Assignment Operator
    #use the = assignment operator to add a new key to a dictionary:
dict[key] = value

In [60]:
#https://www.digitalocean.com/community/tutorials/python-add-to-dictionary
#Link to resource on dictionaries

### Challenge 1


You have a list of fruit names, and you want to count the number of times each fruit appears in the list. 

Write a function that takes a list of fruit names as input and returns a dictionary that maps each fruit to its count.

In [62]:
fruits = ['apple', 'banana', 'orange', 'apple']


def fruit_fun(fruits):
    fruit_counts = {}
    #Use a for loop to iterate over the list of fruit names. 
    #For each fruit name, check if it's already in the dictionary. I
    #If it is, increment its count by 1 and if it's not, add it to the dictionary with a count of 1.
    for fruit in fruits: 
        if fruit in fruit_counts:
            fruit_counts[fruit] += 1
        else:
            fruit_counts[fruit] = 1
    return fruit_counts
        
print(fruit_fun(fruits))

{'apple': 2, 'banana': 1, 'orange': 1}

### Challenge 2:


You have a list of book titles and authors, where each book is represented as a tuple of the form (title, author).

Write a function that takes a list of book tuples as input and returns a dictionary that maps each author to a list of their book titles.

In [63]:
books = [('book 1', 'author 1'), ('book 2', 'author 2'), ('book 3', 'author 3'), ('book 4', 'author 2')]

def authors(books):
    author_to_titles = {}
    titles = []
    author_list = []
    for title, author in books:
        #for loop to iterate over the list of book tuples
        #For each tuple, the title variable is set to the first element of the tuple (i.e., the book title)
        #the author variable is set to the second element of the tuple (i.e., the author's name).
        if author in author_to_titles:
            #if function to eval if author is already in dict
            author_to_titles[author].append(title)
                #if yes, appends the title to the author already in the dict
        else:
            author_to_titles[author] = [title]
                #if not, creates a new entry with the author and title
    return author_to_titles

print(authors(books))

{'author 1': ['book 1'], 'author 2': ['book 2', 'book 4'], 'author 3': ['book 3']}

### Challenge 3


You have a list of student names and test scores, where each student is represented as a tuple of the form (name, score). 

Write a function that takes a list of student tuples as input and returns a pandas dataframe that shows each student's name, score, and rank (1 for the highest score, 2 for the next highest, and so on).

In [78]:
student_names = ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve']
scores_1 = [90, 91, 92, 85, 70]
scores_2 = [95, 85, 92, 85, 70]
students = {}

scores = list(zip(scores_1, scores_2))

TypeError: 'list' object is not callable